<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <title>Title</title>
</head>

<body>
    <header class="header">.</header>
    <main>
        <div class="side-bar">
            <table id="results">
                <a href ="http://40.117.81.130:8051" style="color:#fcfbf8;">Click for Dashboard</a>
            </table>

        </div>
        
    </main>
    <h6> </h6>




</body>

</html>