
div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(loading.gif) no-repeat;
    cursor: wait;
    }
 
body {
    background-color: #2d2c3a;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
input {
    color: #f1e5e5;
}
.button {
    color: black;
}

